<head>
    <link rel="stylesheet" href="/css/styles.css"> 
</head>

<div>
  <div>
    <form action="/auth/login" method="POST">
      <h3>Login</h3>
      <div>
        <label for="login-email">Email address</label>
        <input type="email" name="username" id="login-email" aria-describedby="emailHelp" required>
      </div>
      <div>
        <label for="login-password">Password</label>
        <input type="password" name="password" id="login-password" required>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
