<head>
  <link rel="stylesheet" href="/css/styles.css">
</head>
    <div class="header-container">
        <div>
            <h1>Recipes</h1>
            <p>Share your recipes!</p>
        </div>

        <div>
            <a href="/register">Register</a>
            <a href="/login">Login</a>
        </div>
    </div>
